<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>176724888183-h8rbo3omvvivnu9oggof7849j2ig9iuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176724888183-h8rbo3omvvivnu9oggof7849j2ig9iuv</string>
	<key>API_KEY</key>
	<string>AIzaSyDljL84BnfEi--2IE_L6CJ61kaN77Kz3FY</string>
	<key>GCM_SENDER_ID</key>
	<string>176724888183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaijuntong.GroupBuy</string>
	<key>PROJECT_ID</key>
	<string>groupbuy-c87fb</string>
	<key>STORAGE_BUCKET</key>
	<string>groupbuy-c87fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176724888183:ios:aec7b7cf3802bf2e</string>
	<key>DATABASE_URL</key>
	<string>https://groupbuy-c87fb.firebaseio.com</string>
</dict>
</plist>